@font-face {
    font-family: 'CookieRunOTF';
    src: url("../fonts/subset-CookieRunOTF-Regular00.woff2") format('woff2'),url('../fonts/subset-CookieRunOTF-Regular00.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CookieRunOTF';
    src: url("../fonts/subset-CookieRunOTF-Bold00.woff2") format('woff2'),url('../fonts/subset-CookieRunOTF-Bold00.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CookieRunOTF';
    src: url("../fonts/subset-CookieRunOTF-Black00.woff2") format('woff2'),url('../fonts/subset-CookieRunOTF-Black00.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}